* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica;
}

/* Wrapper Background */
.app-wrapper {
  display: flex;
  background: rgb(0,150,136);
  background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 15%, rgba(215,219,216,1) 15%);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ui-wrapper {
  display: flex;
  flex-basis: 1600px;
  height: 95%;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 35%;
  height: 100%;
}

.top-nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  width: 100%;
  height: 80px;
}

.propic {
  cursor: pointer;
  width: 64px;
  border-radius: 50%;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-container i {
  margin: 0 15px;
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.alert-nav-bar {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #8edafc;
  width: 100%;
  height: 90px;
}

.circle {
  width: 50px;
  flex-shrink: 0;
  position: relative;
  background-color: white;
  height: 50px;
  border-radius: 50%;
}

.circle i {
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #8edafc;
}

.alert-text {
  margin-left: 10px;
}

.alert-text p {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 6px;
}

.alert-text a {
  color: #598398;
  font-weight: 500;
}

.search-nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 8px 12px;
}

.search-nav-bar i {
  margin: 0 5px;
  color: gray;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.search-nav-bar input {
  border: 0;
  padding: 10px;
  width: 500px;
}

.chatlist-nav-bar {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 230px)
}

.singlechat {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 90px;
  padding: 10px;
  align-items: center;
}

.singlechat:hover {
  background-color: #e9ebeb;
}

.chat-avatar {
  flex-basis: 10%;
}

.chat-avatar img {
  width: 70px;
  border-radius: 50%;
}

.chat-text {
  flex-flow: column;
  flex-basis: 70%;
  display: flex;
  margin-left: 25px;
}

h3.name {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.chat-text p {
  color: #bfc1c3;
  font-size: 18px;
}

.timestamp {
  color: gray;
  display: flex;
  flex-basis: 20%;
  flex-direction: row-reverse;
}

.chat {
  display: flex;
  flex-flow: column;
  width: 65%;
  height: 100%;
}

.top-chat {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  width: 100%;
  height: 80px;
  background-color: white;
  border-left: 1px solid #bfc1c3;
}

.recipient {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.recipient-info p {
  color: gray;
}

.chat-conversation {
  flex-flow: column;
  padding: 20px 5%;
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 160px)
}

.inactive {
  display: none;
}

.active {
  display: flex;
}

.container-user-message {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px 0;
}

.container-recipient-message {
  display: flex;
  margin: 5px 0;
}

.user-message {
  position: relative;
  display: flex;
  flex-flow: row;
  word-break: break-all;
  padding: 15px 15px 30px;
  margin: 5px 0;
  min-height: 50px;
  min-width: 20%;
  max-width: 45%;
  border-radius: 15px;
  background-color: #d5f9ba;
}

.time-message {
  font-size: 14px;
  color: gray;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.recipient-message {
  position: relative;
  word-break: break-all;
  padding: 15px 15px 30px;
  margin: 5px 0;
  min-height: 50px;
  min-width: 20%;
  max-width: 45%;
  border-radius: 15px;
  background-color: white;
}

.message-area {
  display: flex;
  align-items: center;
  background-color: #f3eeea;
  height: 80px;
  width: 100%;
  border-left: 1px solid #bfc1c3;
}

.message-area i {
  font-size: 26px;
  cursor: pointer;
  padding: 0 20px;
  color: gray;
  flex-shrink: 0;
}

.message-area input {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
